.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  height: auto;
  padding: 32px 50px 42px;
  background-color: #ffffff;
  border-radius: 12px;
  position: relative;
}

.title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 500;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 22px;
}

.label {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  transition: all 0.2s ease;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.content:focus-within .label {
  color: #009ee4;
}

.input,
.area {
  padding: 13px 19px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
}

.input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.input:focus,
.area:focus {
  outline: none;
  border-color: #009ee4;
}

.input:hover,
.area:hover {
  border-color: #009ee4;
}

.input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004d;
}

.area {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-height: 200px;
  font-size: 16px;
  line-height: 24px;
}

.area::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0000004d;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.subtitle span {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.imgBlock {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}

.priceBlock {
  margin-bottom: 16px;
}

.priceArea {
  position: relative;
}

.priceInput {
  width: 200px;
  padding-right: 35px;
}

.cost {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  bottom: 13px;
  left: 171px;
}

.button {
  margin-top: 10px;
  width: 181px;
  height: 50px;
}

.button:hover {
  background-color: #0080c1;
  cursor: pointer;
}

.btnSubmit {
  background-color: #0080c1;
}

.error {
  font-size: 14px;
  color: #ff6b6b;
}
