.title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  color: #000000;
}

.back {
  width: 10px;
  padding-right: 23px;
  cursor: pointer;
}

.backWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px auto;
  padding: 14px;
}

.scrollWrapper {
  width: 100%;
  height: 110vh;
  overflow-y: auto;
}

.scrollWrapper::-webkit-scrollbar {
  width: 0px;
  background-color: #ffffff;
}

.scrollWrapper::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 0px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.label {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  margin-left: 16px;
  margin-bottom: 6px;
  padding: 0;
  transition: all 0.2s ease;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
  align-items: center;
}

.content:focus-within .label {
  color: #009ee4;
}

.input,
.area {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  min-height: 40px;
  padding: 9px 17px;
  margin-top: 4px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  resize: none;
}

.input {
  border-radius: 30px;
}

.area {
  min-height: 107px;
  border-radius: 20px;
}

.input:focus,
.area:focus {
  outline: none;
  border-color: #009ee4;
}

.input:hover,
.area:hover {
  border-color: #009ee4;
}

.input::placeholder,
.area::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
}

.subtitle span {
  color: rgba(0, 0, 0, 0.3);
}

.imgBlock {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  margin-bottom: 10px;
  overflow: hidden;
}

.priceBlock {
  margin-bottom: 16px;
}

.priceArea {
  position: relative;
}

.priceInput {
  width: 200px;
  padding-right: 35px;
}

.cost {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  top: 13px;
  right: 25px;
}

.button {
  margin-top: 10px;
  width: 278px;
  height: 46px;
}

.button:hover {
  background-color: #0080c1;
  cursor: pointer;
}

.btnSubmit {
  background-color: #0080c1;
}

.error {
  font-size: 14px;
  color: #ff6b6b;
}
