.imgCenter {
  width: 460px;
  height: 340px;
  background-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  margin: 0 5px;
}

.imgCenter img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.imgBar {
  margin-top: 10px;
  width: 480px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.img {
  width: 82px;
  height: 82px;
  background-color: #f0f0f0;
  border: 2px solid #f0f0f0;
  margin: 0 5px;
}

.img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 425px) {
  .imgCenter {
    position: relative;
    width: 290px;
    min-height: 225px;
    max-height: 250px;
    min-height: inherit;
  }

  .backWrapper {
    position: absolute;
    top: 20px;
  }

  .back {
    width: 10px;
    padding-right: 23px;
    cursor: pointer;
  }
}
